# -----
# ETCD RELATED ENVIRONMENT
REGISTRY=quay.io/coreos/etcd
# available from v3.2.5
#REGISTRY=gcr.io/etcd-development/etcd

# For each machine
#ETCD_VERSION=latest
ETCD_VERSION=v3.2.24
# Note: TOKEN can be any string
TOKEN=my-etcd-token
CLUSTER_STATE=new
CLUSTER="{{ ansible_hostname }}=https://{{ inventory_hostname }}:2380"
DATA_DIR=/var/lib/etcd
THIS_NAME={{ ansible_hostname }}
THIS_IP={{ inventory_hostname }}

# -----

