apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - command:
    - kube-controller-manager
    - --cluster-name=kubernetes
    - --master=http://127.0.0.1:8080
    - --leader-elect=true
    - --allocate-node-cidrs
    - --cluster-cidr={{ var_cluster_cidr }}
    - --service-cluster-ip-range={{ var_service_cluster_ip_range }}
    - --cluster-signing-cert-file={{ var_kube_certs_dir }}/ca.pem 
    - --cluster-signing-key-file={{ var_kube_certs_dir }}/ca-key.pem
    - --root-ca-file={{ var_kube_certs_dir }}/ca.pem
    - --service-account-private-key-file={{ var_kube_certs_dir }}/ca-key.pem
    image: {{ var_kube_controller_manager_image }}
    name: kube-controller-manager
    volumeMounts:
    - mountPath: {{ var_kube_certs_dir }}
      name: k8s-certs
      readOnly: true
  volumes:
  - hostPath:
      path: {{ var_kube_certs_dir }}
      type: Directory
    name: k8s-certs
