# Add the cluster information for {{ inventory_hostname }}
kubectl config set-cluster kubernetes \
--certificate-authority=ca.pem \
--embed-certs=true \
--server=https://{{ inventory_hostname }}:6443 \
--kubeconfig=kubeconfig.kubelet-{{ inventory_hostname }}

# Add the credentials for {{ inventory_hostname }}.

kubectl config set-credentials system:node:{{ inventory_hostname }} \
--client-certificate=kubelet-{{ inventory_hostname }}.pem \
--client-key=kubelet-{{ inventory_hostname }}-key.pem \
--embed-certs=true \
--kubeconfig=kubeconfig.kubelet-{{ inventory_hostname }}

# Add the context for {{ inventory_hostname }}.

kubectl config set-context default \
--cluster=kubernetes \
--user=system:node:{{ inventory_hostname }} \
--kubeconfig=kubeconfig.kubelet-{{ inventory_hostname }}

# Use the context for {{ inventory_hostname }}.
kubectl config use-context default \
--kubeconfig=kubeconfig.kubelet-{{ inventory_hostname }}

